.toggle_switch {
  margin: 20px 20px 0px 35px;
}

.drawer {
  position: fixed;
  bottom: 100px;
}

.nav_bar {
  position: fixed;
  bottom: 15px;
  width: 90%;
}

.delete_btn {
  vertical-align: middle;
  margin-left: 165px;
  align-self: flex-end;
}

.save_btn {
  align-self: flex-end;
}
